/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
/* Set every element's box-sizing to border-box */
.border {
  border: 1px dotted black;
}
.padding {
  padding: 10px 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 2rem;
}
body {
  background: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: black;
  line-height: 2.5rem;
  font-size: 12pt;
}
.top-section {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
}
.top-section .action {
  width: 1000px;
  text-align: center;
  margin: 2rem auto;
}
.top-section .action h1 {
  width: 100%;
  font-size: 4rem;
  margin: 2rem auto;
}
.top-section .action h2 {
  width: 100%;
  font-size: 2.5rem;
  margin: 1rem auto;
  line-height: 4rem;
}
.top-section .action h2 b {
  display: block;
}
.top-section li {
  margin: 45px;
}
.top-section li .button {
  border: 1px solid white;
  padding: 5px 40px;
  border-radius: 5px;
  color: white;
}
.top-section .content {
  width: 1000px;
  text-align: center;
}
.top-section .content h2 {
  margin: 20px;
}
.header-background {
  background-image: url(../images/color-diet-food-255501-2.jpg);
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 800px;
  padding: 2.5rem 0;
  font-size: 1.4rem;
  align-self: center;
}
nav a {
  color: white;
}
.bottom-section {
  justify-content: space-evenly;
}
.bottom-section div h2 {
  margin-bottom: 60px;
  margin-top: 60px;
  text-align: center;
}
.bottom-section .features-box {
  display: flex;
  margin: 0 20px;
}
.bottom-section .features-box .column h3 {
  font-size: 3rem;
  margin: 10px;
}
.bottom-section .features-box .column p {
  border: 1px solid red;
  font-size: 2rem;
  margin: 0 10px;
}
