.bottom-section {
    justify-content: space-evenly;

    div h2 {
        margin-bottom: 60px;
        margin-top: 60px;
        text-align: center;
        font-size: 4rem;
    }

    .features-box {
        display: flex;
        margin: 0 20px;

        .column h3 {
            font-size: 3rem;
            margin: 10px;

        }

        .column p {
            // border: 1px solid red;
            font-size: 2rem;
            margin: 0 10px;
        }
    
    }

}