.header-background {
    background-image: url(../images/color-diet-food-255501-2.jpg);
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding: 2.5rem 0;
    font-size: 1.4rem;
    align-self: center;

    a {
        color: white;
    }
}